@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.menu-items.li:hover {
  background-color: none;
  color: red;
  margin-left: 5rem;
}

.primary-color {
  color: #FF2359;
}

/* .primary-button {
  background-color: #FF2359;
} */

.primary-button {
  @apply px-5 py-1 rounded-l-2xl rounded-br-2xl;
}